/*  css box model  */
/*  padding */
/* margin */
/*  border */
/* border-radius */
/* negitive margin */

/* * {
    margin: 0px;
} */
h1 {
    background: red;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border-bottom-style: double;
    border-bottom-color: green;
    border-bottom-width: 1rem;
    border-radius: 20px;
}
p {
    background: blue;
    padding: 45px 20px 30px 40px;
    margin: 50px 55px 20px 55px;
    border: 1rem;
    border-style: dotted;
    border-color: red;
    border-width: 10px;
}
/*  border-radius */
p {
    border-radius: 20px;
    margin-top: -50px;

}
/*  outline -offset */
.links{
    margin: 3rem;
}
#one{
    outline-width: 3px;
    outline-color: black;
    outline-style: solid;
    outline-offset: 3px;
    background: green;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: ;
}
