img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
    /* /* margin-top: 10px;
    border-right: 10px; */
}

.container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid red;
    width: 400px;
    text-align: center;
    border-right: 2px solid red;
    box-shadow: 4px 4px 5px red;
    margin: 0px;
    margin-bottom: 10px;
}


/* img:hover {
    transform: scale(1.1);
} */

body {
    margin: 0px;
}