.box {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    margin: 0px 20px 0px 20px;
    width: 33px;
    height: 55px;
}

p {
    font-size: 20px;
}

span {
    font-size: 2em;
}

p {
    font-size: 4rem;
}


/*  inline-block it will get al the blocks in one line */


/*  top & right , bottom & left  */


/*  in the box model we can change content using width and height */


/*  rem is twice to the root element  */