            /* normal syntax */
            /*  csstricks = we can find all the properties */
            
            selector {
                name: value;
            }
            
            h2 {
                color: red;
                text-align: center;
                border: 5px solid rgb(20, 233, 0);
            }
            
            p {
                color: blue;
            }
            
            h2 {
                color: green;
            }
            
            body {
                background-image: url();
                background-size: cover;
                text-align: ;
            }
            
            li {
                list-style: none;
                /* display: inline;  it will combine a single line */
                display: block;
                /*  it will start ne line */
            }
            
            .class:hover {
                text-transform: capitalize;
            }
            
            #div1 {
                text-align: center !important;
            }
            
            * {
                font-size: medium;
            }